[user]
	name = Thom Baynes
	email = tbaynes@usertesting.com
[init]
  defaultBranch = main
[core]
	excludesfile = /Users/tbaynes/.gitignore_global
  editor = /usr/bin/vim
[difftool "code"]
  cmd = code --diff \"$LOCAL\" \"$REMOTE\"
  path =
[mergetool "code"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
  trustExitCode = true
[push]
  default = simple
  autoSetupRemote = true
[alias]
  unstage = reset HEAD --
  uncommit = reset --soft HEAD~
  pull = pull --ff-only
  hist = log --pretty=format:'%C(yellow)[%ad]%C(reset) %C(green)[%h]%C(reset) | %C(red)%s %C(bold red){{%an}}%C(reset) %C(blue)%d%C(reset)' --graph --date=short
  prm = "!sh -c 'git log master..HEAD --pretty=tformat:\"- %h %s\" | tail -r | pbcopy'"
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/tbaynes/.gitCommitTemplate
[pull]
  rebase = false
